		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="request.user.image" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="" href="/" class="" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class=""></span>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">PROJECTS</h4>
						</li>
						<li class="nav-item {% if 'detail-' in detail %} active {% endif %}">
							<a data-toggle="collapse" href="#liveprojects">
								<i class="fas fa-layer-group"></i>
								<p>Live Projects</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="liveprojects">
								<ul class="nav nav-collapse">
									{% for project in projects %}
									{% if project.status == 1 %}
									<li>
										<a href="{% url 'project_detail' project.id %}">
											<span class="sub-item">{{ project.number }}<br />{{ project.name }}</span>
										</a>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#completed">
								<i class="fas fa-layer-group"></i>
								<p>Completed</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="completed">
								<ul class="nav nav-collapse">
									{% for project in projects %}
									{% if project.status == 0 %}
									<li>
										<a href="{% url 'project_detail' project.id %}">
											<span class="sub-item">{{ project.number }}<br />{{ project.name }}</span>
										</a>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">FINANCIAL</h4>
						</li>
						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
							<a href="/timesheet/">
								<i class="fas fa-layer-group"></i>
								<p>Time Sheet</p>
								<span class=""></span>
							</a>
							<div class="" id="timesheet">
							</div>
						</li>

						<li class="mx-4 mt-2">
							<a target="_blank"
							   href="#"
							   class="btn btn-success btn-block">
								<span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>OSCA
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                            <a target="_blank"
                               href="#" 
                               class="btn btn-success btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>OSCA 
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        