<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>

</head>
<body>
    <form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Project Number:</label>
                <div class="col-sm-4">
                    {{ form.number }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Project Name:</label>
                <div class="col-sm-4">
                    {{ form.name }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Slug:</label>
                <div class="col-sm-4">
                    {{ form.slug }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Company:</label>
                <div class="col-sm-4">
                    {{ form.company }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Contractor</label>
                <div class="col-sm-4">
                    {{ form.contractor }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Postcode</label>
                <div class="col-sm-4">
                    {{ form.postcode }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Value</label>
                <div class="col-sm-4">
                    {{ form.value }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Designer</label>
                <div class="col-sm-4">
                    {{ form.designer }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">PM</label>
                <div class="col-sm-4">
                    {{ form.pm }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-4">
                    {{ form.status }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Rate</label>
                <div class="col-sm-4">
                    {{ form.hourly_rate }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Design Prelims</label>
                <div class="col-sm-4">
                    {{ form.design_value_prelims }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>