<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Project Number</th>
                <th>Project Name</th>
                <th>Company</th>
                <th>Main Contractor</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.number }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.company }}</td>
                <td>{{ project.contractor }}</td>
                <td>
                    <a href="/edit/{{ project.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                    <a href="/delete/{{ project.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a href="/emp" class="btn btn-primary">Add New Record</a></center>
</body>
</html>  